body {
    font-size: 100%;
    background-color: #e9e9e9;

}
.my-header {
    display: flex;
    flex-direction: row;
}
.my-header-left, .my-header-right {
    margin: auto;
}
.my-header-right img {
    /* width: 200px; */
}
.my-article-1 p {
    font-size: 18px;
}
.my-article-2 ul li {
    font-size: 18px;
}
.my-article-3 ul li {
    font-size: 18px;
}
.my-article-4 ul li {
    font-size: 18px;
}
.my-article-5 ul li {
    font-size: 18px;
}
.my-article-6 ul li {
    font-size: 18px;
}
.my-article-7 ul li {
    font-size: 18px;
}

table {
    font-size: 18px;
}
table, th, td {
    border: 1px solid black;
 }