<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sushma-Profile</title>
 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" 
    integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" 
    integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/myStyle.css')}}">
   
   
    </head>
<body>
    <div class="container-fluid">
            <div class="row" 
            style="background:transparent url('static/media/green.jpg') no-repeat center center /cover">
              <div class="col-lg-12">
            <section>
                    <header class="my-header">
                        <div class="my-header-left m-3 col-lg-9 col-md-8 col-sm-6 col-xs-6">
                            <h1>NAME: SUSHMA R KASHYAP</h1>
                            <p>D.O.B: 19-04-1996</p>
                            <p><i class="fas fa-phone-square"></i> PHONE NUMBER: <a href="tel_no: 7760174490"> 7760174490</a></p>
                            <p><i class="fas fa-envelope"></i> Email_id: <a href="mailto:sushma.r.kashyap19@gmail.com">sushma.r.kashyap19@gmail.com</a></p>
                            <p><i class="fas fa-map-pin"></i> ADDRESS: #1588/A 26th CROSS, 28th MAIN, BANASHANKARI 2nd STAGE, BANGALORE-560070  </p>
                        </div>
                        <div class="my-header-right m-2">
                            <div class="card bg-dark text-light" style="width: 19rem;">
                                <img class="card-img-top" src="static/media/card.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title">Hi! I'm Sushma</h5>
                                  <p class="card-text">Find me on Facebook and Instagram.</p>
                                 <a target="_blank" href="https://www.facebook.com/sushma.kashyap.1044?ref=br_rs"><button class="btn"><i class="fab fa-facebook"></i></button></a>
                                 <a target="_blank" href="https://www.instagram.com/sushma.r.kashyap/"><button class="btn"><i class="fab fa-instagram"></i></button></a>
                                </div>
                              </div>
                        </div>
                    </header>
                    <article>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="article-1 m-3">
                                        <h3>OBJECTIVE:</h3>
                                        <p>Seeking for a job in a reputed IT company to utilize my education and knowledge to the maximum capacity and to acquire skills.</p>
                                </div>  
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pt-4">
                               <div class="article-2 border border-dark m-3 p-3">
                                    <h3>WORKSHOPS:</h3>
                                <ul>
                                        <li>Entrepreneurship Training by EDI</li>
                                        <li> CCNA using CISCO Packet Tracer</li>
                                </ul>
                               </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pt-4">
                                <div class="article-3 m-3 p-3 font-italic">
                                        <h3>PROJECTS:</h3>
                                        <ul>
                                            <li>
                                                Name: School Database <p>Designing a database using MYSQL as a backend, HTML as a front end and PHP as a connector</p>
                                            </li>
                                            <li>Name: Animation of Routine of a DiscoBall <p>Designing a Disco ballroom routine using OpenGL Computer Graphics</p></li>
                                        </ul>
                                </div>
                               </div>
                               <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pt-4">
                                   <div class="article-4 border border-dark m-3 p-3">
                                        <h3>TECHNICAL SKILLS:</h3>
                                        <ul>
                                                <li> C, C++, </li> 
                                                <li> Java, J2EE,</li>
                                                <li> Python</li>
                                                <li>  CISCO packet tracer</li>
                                                <li> Unix</li>
                                        </ul>
                                   </div>
                                </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pt-4">
                                <div class="article-5 m-3 p-3 font-italic">
                                        <h3>AWARDS AND ACHIEVEMENTS:</h3>
                                        <ul>
                                            <li> Winner in zonal round of Techradiance 2018 conducted at GAT campus by Harbour Technologies in association with IIT, Bombay. (CCNA networking using CISCO packet tracer) 
                                            </li>
                                            <p>

                                            </p>
                                            <li>Participant in the national round of Techradiance 2018 conducted at IIT, Kharagpur. (CCNA networking using CICSO packet tracer)</li>
                                        </ul>
                                </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pt-4">
                                <div class="article-6 border border-dark m-3 p-3">
                                        <h3>INTERESTS AND HOBBIES:</h3>
                                        <ul>
                                            <li> Interests: music, art and cooking</li>
                                            <li>Hobbies: Dance, book reviewer and beta reader for authors</li>
                                        </ul>
                                </div>
                            </div>
                              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 pt-4">
                                <div class="article-7 m-3 p-3 font-italic">
                                        <h3>PERSONAL DETAILS:</h3>
                                        <p>Fathers Name:  C G Raghu </p>
                                        <p>Mothers name:  Mamatha M </p>
                                        <p>Gender:  Female </p>
                                        <p>Languages Known:  Kannada, Hindi, English(UK)</p>
                                        <p>Permanent Address:  #1588/A, 26th cross,28st  main, BSK 2ND Stage, Bengaluru 560070</p>
                                </div>
                              </div>  
                        </div>
                        <div class="article-8 pt-4">
                            <div class="row justify-content-center">
                                <div class="col-3">
                                    <h3 class="m-3 p-3"><i class="fas fa-graduation-cap"></i> EDUCATION</h3>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-10">
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th class="">DEGREE</th>
                                                <th class="">INSTITUTE</th>
                                                <th class="">BOARD</th> 
                                                <th class="">YEAR</th>
                                                <th class="">PERCENTAGE/SGPA</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                    <td>UG SPECIALIZATION</td>
                                                    <td>Global Academy of Technology </td>
                                                    <td>Visvesvaraya Technological University, Belagavi</td>
                                                    <td>2019</td>
                                                    <td>6.34 SGPA</td>
                                                </tr>
                                                <tr>
                                                    <td>P.U.C</td>
                                                    <td>Jain PU College, Jayanagar 9th Block </td>
                                                    <td>State Board </td>
                                                    <td>2014</td>
                                                    <td>80.833%</td>
                                                </tr>
                                                <tr>
                                                    <td>S.S.L.C</td>
                                                    <td>Carmel School, Padmanabhanagar</td>
                                                    <td>State Board</td>
                                                    <td>2012</td>
                                                    <td>92.48%</td>
                                                </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </article>
                    <footer>
                        <form action="">
                            <div class="row justify-content-center">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label for="Name">Full Name</label>
                                        <input type="text" name="fullname" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fas fa-envelope"></i>
                                                </div>
                                            </div>
                                            <input type="email" name="email" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-4">
                                    <button type="submit" class="btn btn-beige">Submit</button>
                                </div>
                            </div>
                        </form>
                    </footer>
                </section>
    </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script> src="{{url_for('static', filename='js/myScript.js')}}"</script> 
</body>
</html>